@import '../reset';
@import '../color';

header {
    background-image : url('../../assets/img/back.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
}

.header_titre {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-family: 'Libre Franklin', sans-serif;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        color: white;
        font-size: 3em;
    }
}

.homeimg {
    padding: 20px;
    width: 400px;
}

.nav_rep {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 125px;
    background-color: rgba(0,0,0,0.8);
    img {
        width: 100px;
    }
    ul {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        li {
            width: calc(100% / 5);
            height: 100%;
            overflow: hidden;
            a {
                display: block;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: white;
            }
            &:after {
                display: block;
                position: absolute;
                content: "|";
                color: white;
                height: 100px;
                width: 2px;
                margin-top: -115px;
                margin-left: -1px;
                background-color: white;
            }
            &:first-child {
                &:after {
                    display: none;
                }
            }
            &:before {
                display: block;
                content: '';
                width: 0;
                opacity: 0;
                margin: -5px auto;
                padding-top: 5px;
                height: 5px;
                background-color: white;
                transition: width ease-in-out .3s, opacity ease-in-out .5s;
            }
            &:hover:before {
                opacity: 1;
                width: 90%;
            }
        }
    }
}

#env1 {
    &:before {
        background-color: $menu-vert;
    }
}

#env2 {
    &:before {
        background-color: $menu-bleu;
    }
}

#env3 {
    &:before {
        background-color: $menu-jaune;
    }
}

#env4 {
    &:before {
        background-color: $menu-orange;
    }
}

#env5 {
    &:before {
        background-color: $menu-rouge;
    }
}