/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-image: url("../../assets/img/back.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
}

.header_titre {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_titre h1 {
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
  font-weight: 500;
  margin-top: 50px;
  text-transform: uppercase;
  color: white;
  font-size: 3em;
}

.active {
  background-color: #7AC943;
}

.nav_rep {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
}

.nav_rep img {
  width: 100px;
}

.nav_rep ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_rep ul li {
  width: calc((100% - 100px) / 5);
  height: 100%;
  overflow: hidden;
}

.nav_rep ul li a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}

.nav_rep ul li:after {
  display: block;
  position: absolute;
  content: "|";
  color: white;
  height: 100px;
  width: 2px;
  margin-top: -115px;
  margin-left: -1px;
  background-color: white;
}

.nav_rep ul li:first-child:after, .nav_rep ul li:nth-child(2):after {
  display: none;
}

.nav_rep ul li:first-child:before {
  display: none;
}

.nav_rep ul li:before {
  display: block;
  content: '';
  width: 0;
  opacity: 0;
  margin: -5px auto;
  padding-top: 5px;
  height: 5px;
  background-color: white;
  -webkit-transition: width ease-in-out .3s, opacity ease-in-out .5s;
  transition: width ease-in-out .3s, opacity ease-in-out .5s;
}

.nav_rep ul li:hover:before {
  opacity: 1;
  width: 90%;
}

#env1:before {
  background-color: #7AC943;
}

#env2:before {
  background-color: #699ED3;
}

#env3:before {
  background-color: #E5CC69;
}

#env4:before {
  background-color: #EF844F;
}

#env5:before {
  background-color: #E06060;
}
/*# sourceMappingURL=header_report.css.map */