@import '../reset';
@import '../color';

.theme {
    height: 100vh;
    background-image: url('../../assets/img/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    &_select {
        position: absolute;
        z-index: 99;
        width: 150px;
        height: 75px;
        margin: 20px;
        color: white;
        border: 4px double white;
        a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 20px;
            color: inherit;
            text-decoration: none;
        }
        &:before {
            display: block;
            z-index: 3;
            position: absolute;
            content: '';
            width: 0;
            transition: ease-in-out .2s;
            height: 75px;
        }
        &:hover:before {
            width: 150px;
        }
    }
}

.th1 {
    left: calc(100%/3);
    top: calc(100%/2);
    &:before {
        background-color: $menu-vert;
    }
}

.th2 {
    &:before {
    background-color: $menu-bleu;
    }
}

.th3 {
    &:before {
    background-color: $menu-jaune;
    }
}

.th4 {
    &:before {
    background-color: $menu-orange;
    }
}

.th5 {  
    &:before {
    background-color: $menu-rouge;
    }
}