body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-image: url('../assets/back.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
/* UTILE */
.wrapper {
    width: 960px;
    margin: 0 auto;
}

/* HEADER */
header {
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    /* border: 10px double purple; */
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 0 25px 2px black;
}

header h1 {
    text-align: center;
    text-decoration: underline;
}

header h3 {
    text-align: center;
    color: purple;
}

header a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: purple;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px 20px;
    box-sizing: border-box;
}

header a:hover {
    text-decoration: underline;
}

/* CONTENU */
main {
    margin: 20px 50px;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
}

main h1 {
    margin: 100px auto 50px auto;
    color: white;
    text-align: center;
    text-decoration: underline;
}

.selection {
    width: 450px;
    margin: 20px 10px;
    height: auto;
    background-color: white;
    box-shadow: 0 0 25px 2px black;
    box-sizing: border-box;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    transition: ease-in-out .2s;
}

.selection:hover {
    box-shadow: 0 0 25px 10px rgba(0,0,0,0.5);
}

.selection h2 {
    color: purple;
    font-size: 2em;
    margin: 5px;
}

.selection img {
    width: 100%;
}

.select_unique {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select_unique .infos {
    width: 960px;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
}

.close, .buttoncoco {
    /* position: absolute; */
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px 1px black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    margin: 10px;
    outline: none;
    transition: ease .2s;
}

.close:hover, .buttoncoco:hover {
    box-shadow: 0 0 20px black;
}

.buttons {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.buttoncoco {
    border: none;
    width: 50px;
    height: 50px;
}

.buttoncoco i {
    font-size: 2em;
}

textarea.code {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: right;
    color: white;
}