@import '../reset';
@import '../color';


$menu_active : $menu-vert;

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 25px;
}

// ALL
.reportage {
    float: right;
    width: calc(100% - 250px);
}

// Module 1 : Chapeau 
.chapeau {
    width: 80%;
    height: auto;
    margin: 0 auto;
    color: #4D4D4D;
    border-left: 4px solid $menu-active;
    padding: 5px 10px;
    font-style: italic;
    &-content {
        font-size: 1.3em;
        line-height: 1.5em;
    }
    &-credit {
        font-size: 1em;
        margin: 15px 0 0 0;
    }
}

// Module 3 : titre + chapeau + video